<th:block th:fragment="commonHead">
<!-- Fontfaces CSS-->
<link href="/static/css/font-face.css" rel="stylesheet" media="all" th:href="@{/static/css/font-face.css}">
<link href="/static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all" th:href="@{/static/vendor/font-awesome-4.7/css/font-awesome.min.css}">
<link href="/static/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all" th:href="@{/static/vendor/font-awesome-5/css/fontawesome-all.min.css}">
<link href="/static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all" th:href="@{/static/vendor/mdi-font/css/material-design-iconic-font.min.css}">

<!-- Bootstrap CSS-->
<link href="/static/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all" th:href="@{/static/vendor/bootstrap-4.1/bootstrap.min.css}">
<!-- Vendor CSS-->
<link href="/static/vendor/animsition/animsition.min.css" rel="stylesheet" media="all" th:href="@{/static/vendor/animsition/animsition.min.css}">
<!-- Main CSS-->
<link href="/static/css/theme.css" rel="stylesheet" media="all" th:href="@{/static/css/theme.css}">
<link href="/static/css/pk-custom-style.css" rel="stylesheet" media="all" th:href="@{/static/css/pk-custom-style.css}">
</th:block>